@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h3>Sign Up</h3>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4" >Sign Up as Chef</button>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up as Customer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>