@model User

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Choco Lux Registration</h2>
            </div>
            <div class="card-body">
                <form method="POST" asp-action="Register" asp-controller="Auth">

                    @*User name row*@
                    <div class="form-row">
                        <div class="name">Username: </div>
                        <div class="value">
                            <div class="input-group">

                                <input class="input--style-5" type="text" asp-for="UserName">
                            </div>
                        </div>
                    </div>
                    @*Email*@
                    <div class="form-row">
                        <div class="name">Email: </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="email" name="Email">
                            </div>
                        </div>
                    </div>

                    @*password*@
                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="password" name="Password">
                            </div>
                        </div>
                    </div>
                    @*Gender*@
                    <div class="form-row">
                        <div class="name">Login as:</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select asp-for="RoleId">
                                        <option disabled="disabled" selected="selected">Choose option</option>
                                        <option value="2">Chef</option>
                                        <option value="3">Customer</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


