@{
    Layout = "~/views/shared/_Homelayout.cshtml";
}

<!-- chocolate section -->

<section class="chocolate_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our chocolate products
            </h2>
            <p>
                Many desktop publishing packages and web pagend web page editors now use Lorem Ipsum as their
            </p>
        </div>
    </div>
    <div class="container">
        <div class="chocolate_container">
            <div class="box">
                <div class="img-box">
                    <img src="images/chocolate1.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Yummy <span>chocolate</span>
                    </h6>
                    <h5>
                        $5.0
                    </h5>
                    <a href="">
                        BUY NOW
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/chocolate2.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Yummy <span>chocolate</span>
                    </h6>
                    <h5>
                        $5.0
                    </h5>
                    <a href="">
                        BUY NOW
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/chocolate3.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Yummy <span>chocolate</span>
                    </h6>
                    <h5>
                        $5.0
                    </h5>
                    <a href="">
                        BUY NOW
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/chocolate1.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Yummy <span>chocolate</span>
                    </h6>
                    <h5>
                        $5.0
                    </h5>
                    <a href="">
                        BUY NOW
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/chocolate2.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Yummy <span>chocolate</span>
                    </h6>
                    <h5>
                        $5.0
                    </h5>
                    <a href="">
                        BUY NOW
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/chocolate3.png" alt="">
                </div>
                <div class="detail-box">
                    <h6>
                        Yummy <span>chocolate</span>
                    </h6>
                    <h5>
                        $5.0
                    </h5>
                    <a href="">
                        BUY NOW
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end chocolate section -->
